<% layout('layout') -%>

<h1>Resource Tracking</h1>

<p><button id="addPlanetaryResources" onclick="addPlanetaryResources(home_planets, true);">Add Resources</button></p>

<%- form %>


<script src="/scripts/index.js"></script>
